body {
  margin: 0 0 0 0;
  overflow: auto;
  background-color: #efe9e7;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 70px;
  color: white;
  transition-duration: 0.3s;
  text-shadow:  
    -4px 0 0 #91140b,
    4px 0 0 #91140b,
    0 4px 0 #91140b,
    0 -4px 0 #91140b;
  padding:  0 0 0 0 ;
  margin:0;
}

h1:hover {
  text-shadow: 
 
    -4px 0 0 #91140b90,
    4px 0 0 #91140b90,
    0 4px 0 #91140b90,
    0 -4px 0 #91140b90;
    padding:  0 0 0 0 ;
}

h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  color: #91140b;
  transition-duration: 0.3s;
  padding:  0 0 0 0 ;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #ffffffff;
}

h2:hover {
  background-color: #ffffffe0;
}

h3 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  color: #ffffff;
}

h4 {
  font-family: Shrikhand, sans-serif;
  font-size: 20px;
  margin: 10px 0 10px 0;
  color: white;
}

#side_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 43%;
  z-index: 0;
  overflow: hidden;
}

#topbanner {
  position: absolute;
  top: 0;
  right: 0%;
  left: 45%;
  transform: translate(0, -30%);
  z-index: 1;
  overflow: hidden;
}



#logo {
  margin: 70px 0px 0px 0px;
  border: 5px solid black;
  transition-duration: 0.3s;
}

#logo:hover {
  border: 5px solid #00000090;
}

#welcome {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

#backgroundL {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  z-index: 2;
  overflow: hidden;
}

#backgroundR {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  z-index: 2;
  overflow: hidden;
}

#bg {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  z-index: 3;
  overflow: hidden;
}

#main {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  z-index: 5;

  text-align: center;

}

#end {
  position: absolute;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}


.ingredients {
    overflow: auto;
    position:absolute; 
    top: 28%; 
    left: 50%; 
    z-index: 0;
}

#bowl {
  visibility: visible;
}

.nav {
  overflow: hidden;
    position: absolute; 
    bottom: 5%; 
    right: 8%; 
    z-index: 0;
}

.ramenbowl {
    overflow: hidden;
    position:absolute; 
    top: 15%; 
    left: 3%; 
    z-index: 0;

    visibility: hidden;
}

.item {
  width: 150px;
  border: 5px solid #91140b;
  transition-duration: 0.3s;
  cursor: pointer;
}

.item:hover {
  opacity: 50%;
}

.prompt {
  display:  inline-block;
  font-size: 30px;
  margin-top: 50px;
}

.title {
  display:  inline;
  overflow: auto;
    position:absolute; 
    top: 0; 
    left: 55%; 
    z-index: 2;
}

.small_logo {
  display:  inline-block;
  width: 40px;
  vertical-align: text-bottom;
}

button {
    background-color: white; 
    color: darkred; 
    border: 2px solid darkred;
    padding: 16px 32px;
    font-family: Shrikhand;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
  background-color: darkred;
  color: white;
  font-size: 20px;
}

.desc {
  padding: 20px 20px 20px 20px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  text-align: center;
  background-color: #00000000;
  color: #ffffff00;
  font-size: 13px;
  font-family: Urbanist;
  z-index: 50;
  transition-duration: 0.3s;
  top: 55%;
  left: 10%;
  right: 10%;
  transform: translate(0, -50%);
}

.desc_title {
  font-family: Shrikhand;
  font-size: 27px;
  margin: 0 0 0 0;
}

#shoyu_icon:hover + #shoyu_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#miso_icon:hover + #miso_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#tonkotsu_icon:hover + #tonkotsu_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#thin_icon:hover + #thin_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#med_icon:hover + #med_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#thick_icon:hover + #thick_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#fishcake_icon:hover + #fishcake_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#chashu_icon:hover + #chashu_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#egg_icon:hover + #egg_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#bamboo_icon:hover + #bamboo_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#onion_icon:hover + #onion_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#seaweed_icon:hover + #seaweed_desc {
  visibility: visible;
  background-color: #000000a0;
  color: #ffffffff;
}

#chopsticks {
  position:  absolute;
  top: 20%;
  left: 24%;
  height: 380px;
  width: auto;
  z-index: 10;
}

#spoon {
  position:  absolute;
  top: 25%;
  right: 24%;
  height: 300px;
  width: auto;
  z-index: 10;
}