body {
  margin: 0 0 0 0;
  overflow: auto;
  background-color: #efe9e7;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 70px;
  color: white;
  transition-duration: 0.3s;
  text-shadow:  
    -4px 0 0 #91140b,
    4px 0 0 #91140b,
    0 4px 0 #91140b,
    0 -4px 0 #91140b;
  padding:  0 0 0 0 ;
  margin:0;
}

h1:hover {
  text-shadow: 
 
    -4px 0 0 #91140b90,
    4px 0 0 #91140b90,
    0 4px 0 #91140b90,
    0 -4px 0 #91140b90;
    padding:  0 0 0 0 ;
}

h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  color: #91140b;
  transition-duration: 0.3s;
  padding:  0 0 0 0 ;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #ffffffff;
}

h2:hover {
  background-color: #ffffffe0;
}

h3 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  color: #ffffff;
}

h4 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin: 10px 0 10px 0;
  color: white;
}

#side_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 57%;
  z-index: 0;
  overflow: hidden;
}

#topbanner {
  position: absolute;
  top: 0;
  right: 0%;
  transform: translate(0, -30%);
  z-index: 1;
}



#logo {
  margin: 70px 0px 0px 0px;
  border: 5px solid black;
  transition-duration: 0.3s;
}

#logo:hover {
  border: 5px solid #00000090;
}

#welcome {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

#backgroundL {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  z-index: 2;
  overflow: hidden;
}

#backgroundR {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  z-index: 2;
  overflow: hidden;
}

#bg {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  z-index: 3;
  overflow: hidden;
}

#main {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  z-index: 5;

  text-align: center;

}

#end {
  position: absolute;
  top: 77%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}


.ingredients {
    overflow: hidden;
    position:absolute; 
    top: 28%; 
    left: 50%; 
    z-index: 0;
}

#bowl {
  visibility: visible;
}

.nav {
  overflow: hidden;
    position: absolute; 
    bottom: 5%; 
    right: 8%; 
    z-index: 0;
}

.ramenbowl {
    overflow: hidden;
    position:absolute; 
    top: 15%; 
    left: 3%; 
    z-index: 0;

    visibility: hidden;
}

.item {
  width: 150px;
  border: 5px solid #91140b;
  transition-duration: 0.3s;
}

.item:hover {
  width: 160px;
  /*border: 5px solid #0b4159;*/
}

.prompt {
  display:  inline-block;
  font-size: 40px;
  text-align: right;
}

.title {
  display:  inline-block;
  overflow: hidden;
    position:absolute; 
    top: 0; 
    left: 48%; 
    z-index: 2;
}

.small_logo {
  display:  inline-block;
  width: 60px;
  vertical-align: text-bottom;
}

button {
    background-color: white; 
    color: darkred; 
    border: 2px solid darkred;
    padding: 16px 32px;
    font-family: Shrikhand;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
  background-color: darkred;
  color: white;
  font-size: 20px;
}

